<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/school.jpg" alt="School Logo" style="width: 135px; height: 135px"/>
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">
    <div class="custom-list-item">
      STUDENTS MANAGEMENT
    </div>
  </h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <div class="custom-list-item">
      <mat-icon>home</mat-icon>
      Home
    </div>
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <div class="custom-list-item">
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </div>
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/getStudent">
    <div class="custom-list-item">
      <mat-icon>school</mat-icon>
      Student
    </div>
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/clazz">
    <div class="custom-list-item">
      <mat-icon>class</mat-icon>
      Class
    </div>
  </a>
  <a mat-list-item>
    <div class="custom-list-item">
      <mat-icon>calendar_month</mat-icon>
      Time line
    </div>
  </a>
  <a mat-list-item>
    <div class="custom-list-item">
      <mat-icon>schedule</mat-icon>
      Schedule
    </div>
  </a>
  <a mat-list-item>
    <div class="custom-list-item">
      <mat-icon>note</mat-icon>
      Mark
    </div>
  </a>
  <a mat-list-item>
    <div class="custom-list-item">
      <mat-icon>newspaper</mat-icon>
      News
    </div>
  </a>
  <a mat-list-item>
    <div class="custom-list-item">
      <mat-icon>person</mat-icon>
      Account
    </div>
  </a>
</mat-nav-list>
